h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.2em;
}

small-article {
  footer {
    font-size: 0.8em;
  }
  
  date-plate {
    font-size: 0.7em;
  }
}

.article-preview {
  font-size: 0.8em;
  text-align: justify;
}
