@light-blue: #1069DE;

@shadow: #CBCBCB;
@divider-color: #BCBCBC;

html {
  height: 100vh;
}

body {
  font-family: "Open Sans", "sans-serif";
  font-weight: 300;
  font-size: 18px;
  height: 100vh;
}

h1, h2 {
  font-family: "Open Sans", "sans-serif";
  font-weight: 300;
  margin: 0.3em 0;
  text-shadow: 1px 1px 1px @shadow;
}

.divider {
  height: 1px;
  background: @divider-color;
  margin: 0.3em;
  box-shadow: 1px 1px 2px @shadow;
}

.content-container {
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  margin-bottom: 300px;
  border-bottom: 1px solid @shadow;
  box-shadow: 0px 3px 4px #000;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  & > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
